<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alpha-Blog :: Home</title>
</head>
<body>
	<h1>This is Alpha-Blog Homepage</h1>

	<%= link_to 'About', about_path %>
</body>
</html>